<div class="jumbotron">
  <h1>Soccer Agency</h1>
  <p>
   Find an opportunity!!
  </p>
  <p>
    <%= link_to 'Player Registration / Staff Registration', new_apply_path, class: 'btn btn-primary btn-lg' %>
    
    <%= link_to 'Club Registration', create_jobs_path, class: 'btn btn-primary btn-lg' %>
  </p>
</div>