<div class="jumbotron">
  <h1>Soccer Agency</h1>
  <p>
   Find an opportunity!!
  </p>
  <p>
    <%= link_to 'Player Registration', new_apply_path, class: 'btn btn-primary btn-lg' %>
    <%= link_to 'Staff  Registration', new_apply_path, class: 'btn btn-primary btn-lg' %>
    <%= link_to 'Club Registration', new_apply_path, class: 'btn btn-primary btn-lg' %>
  </p>
</div>