<div class="jumbotron">
  <h1>Soccer Agency</h1>
<p> The best place for players and clubs to connect </p>
  <br> <br>  <br>  <br>  <br>  <br>  

    <%= link_to 'Player Registration / Staff Registration', new_apply_path, class: 'btn btn-primary btn-lg' %>
    
  <%= link_to 'Club Registration', new_create_job_path, class: 'btn btn-primary btn-lg' %>
  </p>
</div>