<h1>Our History </h1>
<br><br>

<p>
  Our founder, Leonardo Souza, was born in Brazil, and since he was 7 years old he started playing competitions, where he was called up by the national team SUB15 and during his career he played in several clubs such as Santos FC, Internacional and Palmeiras. Upon retiring he decided to create the largest company for jobs for athletes and technical commission in the world.