<h2>Hello <%= current_user.name %> </h2>

<br>
  <strong>Welcome to manager site:</strong>

<br><br><br><br><br>

   <%= link_to 'Player Applications', applies_path %>
   <br><br><br><br><br>

   <%= link_to 'Club Applications', create_jobs_path %>